.THIS .hideList{
    display: none;
}
.THIS .lookpMenu{
    background: rgb(255, 255, 255);
    border: 1px solid rgb(216, 221, 230);
    border-radius: .25rem;
    z-index: 7000;
    position: absolute;
    width: 100%;
    padding: .25rem 0;
}
.THIS .padding{
    float: right;
}
.THIS .slds-icon--small {
    width: 1rem;
    height: 1rem;
    line-height: 1;
}
.THIS .textBox {
    
    width : 20%;
}